@charset "UTF-8";

body
{
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}

/* BACKGROUND IMAGE or VIDEO */

body#home
{
  background-color: #000000;
}

body#about
{
  background: url(../images/BonoboBackgd2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#tour
{
  background: url(../images/BonoboBackgd6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#disco
{
  background: url(../images/BonoboBackgd3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#media
{
  background: url(../images/BonoboBackgd4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#merch
{
  background: url(../images/BonoboBackgd8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* ANCHORS & TITLES */
a, a:hover
{
  color: #FFFFFF;
}

h1
{
  margin: 10px 0;
  text-align: center;
}

h2
{
    font-size: 22px;
    margin: 25px 0;
}

h3
{
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

h4
{
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

/* HEADER */

.header
{
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-size: 15px;
}

.header a:hover
{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.header, #main_box
{
  background-color: #000000;
  opacity: 0.80;
}

.header #logo
{
  height: 49px;
}

.header ion-icon
{
  font-size: 22px;
  margin-top: 15px;
  margin-left: 12px;
}


/* PAGE SPECIFIC */

.container, .row
{
  margin: 0 auto;
  padding: 0;
}

#main_box
{
  padding: 30px;
  font-size: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#main_box div[class*="col"]
{
  padding: 0;
}

/* HOME PAGE */

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* ABOUT PAGE */

#about #main_box img
{
  float: left;
  max-width: 200px;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 4px;
}

#about #main_box .row .col-9
{
  padding-right: 20px;
  border-right: 1px solid #979797;
}

#about #main_box .row .side
{
  padding-left: 20px;
  line-height: 30px;
}

/* TOUR DATES PAGE */

#tour #main_box .row
{
  margin: 20px 0;
}

#tour #main_box div[class*="col"]
{
  font-size: 15px;
  line-height: 38px;
}

#tour #main_box .dropdown-toggle
{
  margin-bottom: 20px;
}

#tour #main_box .col-1
{
  font-family: Montserrat;
}

#tour #main_box .col-1.date
{
  font-size: 30px;
  text-align: center;
}

#tour #main_box .col-1.month
{
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

#tour #main_box .col-1.month div
{
  width: 100%;
  text-align: center;
}

#tour #main_box .btn
{
  width: 115px;
}

/* DISCOGRAPHY PAGE */

#disco #main_box img
{
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#disco #main_box .col-4
{
  text-align: center;
  padding-left: 120px;
}

#disco #main_box .col-4 img:hover
{
  transition: all .3s ease-in-out;
}

#disco #main_box .col-4 img:hover
{
  max-width: 220px;
}

#disco #main_box .col.numb
{
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

#disco #main_box .col-6.title
{
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

#disco #main_box .col-3.time
{
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

#disco #main_box .carousel-item .row:last-child
{
  margin-bottom: 30px;
}

/* MEDIA PAGE */

#media #main_box .row
{
  padding: 20px;
}

#media #main_box img
{
  border-radius: 4px;
}

#media #main_box .col-sm-12
{
  padding: 0;
  text-align: center;
}

#media #main_box .col-md-6
{
  text-align: right;
}

/* MERCH */

#merch #main_box .row .col-3
{
  padding-right: 30px;
  margin: 20px 0;
}

#merch #main_box p
{
  font-size: 16px;
}

#merch #main_box .btn
{
  background-color: #FFFFFF;
  color: #000000;
  text-align: left;
}

#merch #main_box img
{
  width: 100%;
  margin-bottom: 10px;
}
