@charset "UTF-8";

body
{
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
}

/* BACKGROUND IMAGE */

body#home
{
  background: url(../images/BonoboBackgd5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#about
{
  background: url(../images/BonoboBackgd2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#tour
{
  background: url(../images/BonoboBackgd6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#disco
{
  background: url(../images/BonoboBackgd3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#media
{
  background: url(../images/BonoboBackgd4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body#merch
{
  background: url(../images/BonoboBackgd8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* ANCHORS & TITLES */
a
{
  color: #FFFFFF;
}

h1
{
  margin: 10px 0;
  text-align: center;
}

h2
{
    font-size: 22px;
    margin: 25px 0;
}

h3
{
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

h4
{
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

/* HEADER */

.header
{
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-size: 15px;
}

.header, #main_box
{
  background-color: #000000;
  opacity: 0.67;
}

.header #logo
{
  height: 49px;
}


/* PAGE SPECIFIC */

.container, .row
{
  margin: 0 auto;
  padding: 0;
}

#main_box
{
  padding: 30px;
  font-size: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#main_box div[class*="col"]
{
  padding: 0;
}

/* ABOUT PAGE */

#about #main_box img
{
  float: left;
  max-width: 400px;
  margin-bottom: 15px;
  margin-right: 15px;
}

#about #main_box .row .col-9
{
  padding-right: 20px;
  border-right: 1px solid #979797;
}

#about #main_box .row .side
{
  padding-left: 20px;
  line-height: 30px;
}

/* TOUR DATES PAGE */

#tour #main_box .row
{
  margin: 15px 0;
}

#tour #main_box div[class*="col"]
{
  font-size: 15px;
  line-height: 38px;
}

#tour #main_box .dropdown-toggle
{
  margin-bottom: 20px;
}

#tour #main_box .col-1
{
  font-family: Montserrat;
}

#tour #main_box .col-1.date
{
  font-size: 30px;
  text-align: center;
}

#tour #main_box .col-1.month
{
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

/* DISCOGRAPHY PAGE */

#disco #main_box img
{
  float: center;
  max-width: 200px;
  margin-bottom: 10px;
  margin-left: 40px;
}

#disco #main_box .col-4
{
  text-align: center;
  margin-left: 40px;
}

#disco #main_box .col.numb
{
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

#disco #main_box .col-6.title
{
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

#disco #main_box .col-3.time
{
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

#disco #main_box .col.nxtpage img
{
  float: right;
  max-width: 40px;
  margin-bottom: 20px;
}
